<div class="col">
  <div class="card" style="width: 18rem;">
    <img
      src="https://www.corriere.it/methode_image/2019/11/27/Scienze/Foto%20Scienze%20-%20Trattate/GettyImages-529743649-kOhG-U31501449702962YPD-656x492@Corriere-Web-Sezioni.jpg"
      alt="Balena">
    <div class="card-body">
      <h5 class="card-title">Balena</h5>
      <p class="card-text">La balena è un animale appartente alla classe dei mammiferi e della famiglia dei cetacei.
      </p>
      <a href="https://it.wikipedia.org/wiki/Balena" target="_blank" class="btn btn-primary">Vai alla pagina
        Wikipedia</a>
      <button (click)="eliminaCardBalena()" type="button" class="btn btn-secondary">Elimina la card</button>
    </div>
  </div>