<h1 id="myHeader">{{title}}</h1>


<div *ngFor="let utente of utenti">
  <div>
    Nome: {{utente.nome}}, Cognome: {{utente.cognome}}, Età: {{utente.eta}} <button (click)="eliminaUtente(utente.id)">Elimina Utente</button>  <button (click)="modificaUtente(utente)">Modifica Utente</button>
  </div>
</div>

<label  for="">Inserisci nome</label>
<input [(ngModel)]="nomeUtenteDaInserire" type="text">
<label for="">Inserisci cognome</label>
<input [(ngModel)]="cognomeUtenteDaInserire" type="text">
<label for="">Inserisci eta</label>
<input [(ngModel)]="etaUtenteDaInserire" type="text">
<button  (click)="inserisciUtente()">Inserisci utente</button>
<button *ngIf="showModificaButton" (click)="editUtente(idDaModificare)">Modifica utente</button>









<div class="list-group">
  <button *ngFor="let animal of listaAnimals" (click)="mostra(animal)" type="button" class="list-group-item list-group-item-action">{{animal}}</button>
</div>

<div class="input-group mb-3">
  <input [(ngModel)]="research"  type="text" class="form-control" placeholder="Cerca animale">
  <div class="input-group-append">
    <button (click)="cercaTesto(research)"class="btn btn-outline-secondary" type="button">Cerca</button>
  </div>
  <div>Quante volte vuoi visualizzare un animale?</div>
  <input  [(ngModel)]="numberRepetitions" type="number" class="form-control" >
  <div class="input-group-append">
    <button class="btn btn-outline-secondary" type="button">Invia dato</button>
  </div>

</div>


  <div class="row row-cols-1 row-cols-md-4 g-4">
    <div *ngIf="showTigre">
      <app-component-tigre  *ngFor="let elements of listaDaMostrare" [researchedString]="research" (tigreDelete)="eliminaCard('tigre')"></app-component-tigre>
    </div>
    <div *ngIf="showGiaguaro">
      <app-component-giaguaro  *ngFor="let elements of listaDaMostrare" [researchedString]="research" (giaguaroDelete)="eliminaCard('giaguaro')"></app-component-giaguaro>
    </div>
    <div *ngIf="showIguana">
      <app-component-iguana  *ngFor="let elements of listaDaMostrare" [researchedString]="research" (iguanaDelete)="eliminaCard('iguana')"></app-component-iguana>
    </div>
    <div *ngIf="showBalena">
      <app-component-balena  *ngFor="let elements of listaDaMostrare" [showTextBalena]="showTextBalena" [researchedString]="research" (balenaDelete)="eliminaCard('balena')"></app-component-balena>
    </div>
    <div *ngIf="showTextError"> 
      <app-component-erorr (errorDelete)="eliminaCard('error')"></app-component-erorr>
    </div>
  </div>
