    <div class="card" style="width: 18rem;">
      <img src="https://t1.ea.ltmcdn.com/it/razas/8/7/6/iguana-verde-o-iguana-comune_678_0_orig.jpg" alt="Iguana">
      <div class="card-body">
        <h5 class="card-title">Iguana</h5>
        <p class="card-text">L'iguana è un animale appartente alla classe dei rettili e della famiglia delle
          iguanide.<br>Clicca sul bottone per saperne di più.</p>
        <a href="https://it.wikipedia.org/wiki/Iguana" target="_blank" class="btn btn-primary">Vai alla pagina
          Wikipedia</a>
          <button (click)="eliminaCardIguana()" type="button" class="btn btn-secondary">Elimina la card</button>
      </div>
      
  <div *ngIf="showIText">
    <p>Testo Cercato {{researchedString}}</p>
  </div>